desktop.ini
data/*
.ipynb_checkpoints/Risk_Calculation-checkpoint.ipynb
.DS_Store
.ipynb_checkpoints/risk_forecast_ML-checkpoint.ipynb
.ipynb_checkpoints/risk_forecast_ML-checkpoint.ipynb
.ipynb_checkpoints/risk_forecast_ML-checkpoint.ipynb
presentation_pictures/87555377_559230781610016_6492704578214035456_n.jpg
presentation_pictures/87394540_3161231953922030_4444009155161751552_n.jpg
.ipynb_checkpoints/risk_forecast_ML-checkpoint.ipynb
.ipynb_checkpoints/visualisation-checkpoint.py
.ipynb_checkpoints/Websource-checkpoint.py
data.zip
data/.DS_Store
risk_forecast_ML.ipynb
